@keyframes anim-wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -88px 0;
  }
}

.slide .page {
  top: 45%;
}

.page p.icon {
  margin: 0;
  position: relative;
  top: -3.6em;
  left: 25em; 
}

.page p.icon img {
  width: 3em;
}

.page p.kanban {
  text-align: center;
}

.page p.kanban img {
  width: 40%;
}

.page p.middle {
  text-align: center;
}

.page p.middle img {
  width: 60%;
}

.huge {
  font-size: 10vw;
  text-align: center;
}

.large {
  font-size: 5vw;
  text-align: center;
}

.page p.rubykaigi2015 {
  text-align: center;
}

.page p.rubykaigi2015 img {
  width: 60%;
}

.page ul {
  list-style-image: url('../images/dot.png');
}

.background {
  background-image: url('../images/seigaiha.png');
}

.background-filter {
  background-color: rgba(255,240,230,0.5);
}

.slide {
  color: #5e5e5e;
}

a:link {
  color: #5e5e5e;
  text-decoration: none;
}

a:visited {
  color: #5e5e5e;
  text-decoration: none;
}

a:hover {
  color: #5e5e5e;
  text-decoration: underline;
}

a:active {
  color: #5e5e5e;
  text-decoration: none;
}

.track-field {
  bottom: 40px;
  height: 24px;

  animation: anim-wave 6.0s linear infinite;
  animation-name: anim-wave;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-delay: initial;
  animation-iteration-count: infinite;
  animation-direction: initial;
  animation-fill-mode: initial;
  animation-play-state: initial;
  transition: opacity 1.0s ease-out;
  background-image: url('../images/wave.png');
  background-repeat: no-repeat;
  background-position: right 90%;
  background-position-y: 100%;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
}

.background::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
  left: 0;
  display: block;
  background: #c1cfcd;
  opacity: 0.5;
  z-index: 0;
}

.background::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  display: block;
  background: #4e9bbc;
  opacity: 0.5;
  z-index: 0;
}

.torii {
  position: absolute;
  bottom: 60px;
  right: 40px;
  z-index: 0;
}
